body {
  margin: 20px;
  background: #ebeaeb;
  color: #0a0a0a;
  font-size: 16px;
}

body, textarea {
  font-family: Helvetica,sans-serif;
  line-height: 1.4;
}

textarea {
  font-size: 15px;
}

.app {
  margin: 0 auto;
  max-width: 700px;
}

.post__header {
  margin: 0 0 20px 0;
  text-align: center;
}

.post__body {
  margin-bottom: 20px;
}

.comments {
  font-size: 15px;
}

.comment {
  margin-bottom: 20px;
  padding: 6px 10px;
  background: #e4e1e5;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgba(59,26,84,.6);
}

.comment__header {
  margin-bottom: 3px;
}

.comment__id {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  cursor: default;
  user-select: none;
}

.comment__file {
  font-size: 20px;
  line-height: 17px;
  color: #00f;
  cursor: pointer;
}

.comment__file:hover {
  color: #f00;
}

.comment__body {
  margin: 0;
  white-space: pre;
}

.reply {
  padding: 6px 10px;
  background: #e4e1e5;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgba(59,26,84,.6);
}

.reply__body {
  width: 100%;
  height: 80px;
  background: none;
  border: none;
  padding: 0;
  resize: none;
  outline: none;
}

.reply-control {
  margin-right: 5px;
  cursor: pointer;
}
.reply-control:disabled {
  cursor: default;
}

.reply-file {
  cursor: default;
  user-select: none;
}
